{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} Document {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/3-col-portfolio.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block css %} {% endblock %}
    <!-- Temporary navbar container fix -->

    <style>
        .juan{
            border: 1px ridge;
        }
    </style>
</head>
<body>

    {% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">UniNews</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'index' %}">Noticias</a>
                    </li>
                    <!--
                    <li>
                        <a href="{% url 'estadisticas' %}">Estadísticas</a>
                    </li>
                    -->

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Universidades <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'universidad' 'Pontificia Universidad Catolica de Valparaiso' %}">Pontificia Universidad Catolica de Valparaiso</a></li>
                        <li><a href="{% url 'universidad' 'Universidad de Valparaiso' %}">Universidad de Valparaiso</a></li>
                        <li><a href="{% url 'universidad' 'Universidad Catolica del Norte' %}">Universidad Catolica del Norte</a></li>
                        <li><a href="{% url 'universidad' 'Universidad Federico Santa Maria' %}">Universidad Federico Santa Maria</a></li>
                        <li><a href="{% url 'universidad' 'Universidad de Playa Ancha' %}">Universidad de Playa Ancha</a></li>
                      </ul>
                    </li>

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorías <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'categoria' 'academia' %}">Academia</a></li>
                        <li><a href="{% url 'categoria' 'sin-categoria' %}">Sin Categoría</a></li>
                        <li><a href="{% url 'categoria' 3 %}">Otras</a></li>
                      </ul>
                    </li>

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Regiones <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li class="dropdown-header">Filtrar por regiones</li>
                          <li><a href="{% url 'region' 2 %}">2ª Región</a></li>
                          <li><a href="{% url 'region' 5 %}">5º Región</a></li>
                          <li role="separator" class="divider"></li>
                      </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Taller Integrado 2017 - Diego Cisternas - Ezequiel Lagos</p>
                    <p>Universidad de Playa Ancha</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

        </div>
    <!-- /.container -->

    {% endblock %}

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script>
        <!-- Coloca todas las clases juan a una misma altura -->
        $(document).ready(function() {
            var heights = $(".juan").map(function() {
                return $(this).height();
            }).get(),

            maxHeight = Math.max.apply(null, heights);

            $(".juan").height(maxHeight);
        });
    </script>

    {% block js %} {% endblock %}
</body>
</html>