{% extends 'news/base.html' %}

{% block title %}
Estadísticas Noticias Universitarias
{% endblock %}

{% block content %}

<!-- Page Content -->
    <div class="container">
    <p>UPLA : {{ contador.upla.contador_visitas__sum }}</p>
    <p>UTFSM : {{ contador.ufsm.contador_visitas__sum }}</p>
    <p>UV : {{ contador.uv.contador_visitas__sum }}</p>
    <p>UCN : {{ contador.ucn.contador_visitas__sum }}</p>
    <p>PUCV : {{ contador.pucv.contador_visitas__sum }}</p>

    <p>mejor noticia: {{ contador.mejores_noticia_pucv }}</p>

{% endblock %}