{% extends 'news/base.html' %}

{% block title %}
{{ region }}º Región - UniNews
{% endblock %}

{% block content %}

<!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Noticias Universitarias
                    <small>repositorio de noticias</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <!-- NOTICIAS Más vistas -->
        <div class="row">
        <h3>Noticias más vistas de la <b>{{ region }}º Región</b></h3>
            <div class="">
                {% for noticia in noticias_mas_vistas %}
                    <div class="col-md-4 portfolio-item">
                        <div class="col-md-12">
                            <h3 class="text-justify">
                                <a href="{% url 'detalle' noticia.id_noticia %}" target="_blank" style="text-decoration: none;">{{ noticia.titulo }}</a>
                            </h3>
                        </div>

                        <div class="col-md-12">
                            <a href="{% url 'detalle' noticia.id_noticia %}" target="_blank">
                                <img class="img-responsive img-rounded center-block " style="height: 250px; width: 350px;" src="{{ noticia.link_recurso }}" alt="{{ noticia.titulo }}">
                            </a>
                            <small>{{ noticia.fecha }}</small>
                            <small class="text-muted pull-right">Visitas: {{ noticia.contador_visitas }}</small>
                        </div>

                        <div class="col-md-12">
                            {% if noticia.id_universidad.nombre == "Pontificia Universidad Catolica de Valparaiso"%}
                                <span class="col-md-12 text-center text-success"><strong>{{ noticia.id_universidad.nombre }}</strong></span>
                            {% elif noticia.id_universidad.nombre == "Universidad de Valparaiso" %}
                                <span class="col-md-12 text-center text-danger"><strong>{{ noticia.id_universidad.nombre }}</strong></span>
                            {% elif noticia.id_universidad.nombre == "Universidad Catolica del Norte" %}
                                <span class="col-md-12 text-center text-warning"><strong>{{ noticia.id_universidad.nombre }}</strong></span>
                            {% elif noticia.id_universidad.nombre == "Universidad Federico Santa Maria" %}
                                <span class="col-md-12 text-center text-info"><strong>{{ noticia.id_universidad.nombre }}</strong></span>
                            {% elif noticia.id_universidad.nombre == "Universidad de Playa Ancha" %}
                                <span class="col-md-12 text-center text-primary"><strong>{{ noticia.id_universidad.nombre }}</strong></span>
                            {% endif %}
                            <p class="text-justify">{{ noticia.bajada }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <!-- NOTICIAS ORDENADAS POR FECHA -->
        <div class="row">
        <h3>Noticias {{ region }}º Región</h3>
            <div class="">
                {% for noticia in noticias %}
                    <div class="col-md-4 portfolio-item juan">
                        <div class="col-md-12">
                            <h3 class="text-justify">
                                <a href="{% url 'detalle' noticia.id_noticia %}" target="_blank" style="text-decoration: none;">{{ noticia.titulo }}</a>
                            </h3>
                        </div>

                        <div class="col-md-12">
                            <a href="{% url 'detalle' noticia.id_noticia %}" target="_blank">
                                <img class="img-responsive img-rounded center-block " style="height: 250px; width: 350px;" src="{{ noticia.link_recurso }}" alt="{{ noticia.titulo }}">
                            </a>
                            <small>{{ noticia.fecha }}</small>
                        </div>

                        <div class="col-md-12">
                            {% if noticia.id_universidad.nombre == "Pontificia Universidad Catolica de Valparaiso"%}
                                <span class="col-md-12 text-center text-success"><strong>{{ noticia.id_universidad.nombre }}</strong></span>
                            {% elif noticia.id_universidad.nombre == "Universidad de Valparaiso" %}
                                <span class="col-md-12 text-center text-danger"><strong>{{ noticia.id_universidad.nombre }}</strong></span>
                            {% elif noticia.id_universidad.nombre == "Universidad Catolica del Norte" %}
                                <span class="col-md-12 text-center text-warning"><strong>{{ noticia.id_universidad.nombre }}</strong></span>
                            {% elif noticia.id_universidad.nombre == "Universidad Federico Santa Maria" %}
                                <span class="col-md-12 text-center text-info"><strong>{{ noticia.id_universidad.nombre }}</strong></span>
                            {% elif noticia.id_universidad.nombre == "Universidad de Playa Ancha" %}
                                <span class="col-md-12 text-center text-primary"><strong>{{ noticia.id_universidad.nombre }}</strong></span>
                            {% endif %}
                            <p class="text-justify">{{ noticia.bajada }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- /.row -->

        <!-- Paginación -->
        <div class="row">
            <div class="">
                <nav aria-label="Navegación por páginas" class="">
                  <ul class="pager pagination-lg">
                      {% if noticias.has_previous %}
                            <li class="previous">
                                <a href="?page={{ noticias.previous_page_number }}" aria-label="Anterior">
                                    <span aria-hidden="true">&laquo; Anterior</span>
                                </a>
                            </li>
                      {% endif %}

                      {% for i in noticias.paginator.page_range %}
                            <li {% if noticias.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
                      {% endfor %}

                    {% if noticias.has_next %}
                        <li class="next">
                            <a href="?page={{ noticias.next_page_number }}" aria-label="Siguiente">
                                <span aria-hidden="true">Siguiente &raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                  </ul>
                </nav>

                <span class="current">
                    Página {{ noticias.number }} de {{ noticias.paginator.num_pages }}
                </span>
            </div>
        </div>
        <!-- Fin Paginación -->

        <hr>

{% endblock %}